.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
}

.hero-text {
    width: 40%;
}

.hero-image {
    width: 50%;
}

.hero-image img{
    width: 100%;
}

@media screen and (max-width: 800px){
   .hero-container {
       flex-direction: column;
       justify-content: center;
       text-align: center;
   }
}
