.icon {
    border-radius: 50%;
}

.white {
    background-color: var(--background-color);
}

.pink {
    background-color: var(--main-color);
}

.lg {
    padding: 30px;
}

.sm {
    padding: 10px;
    margin-right: 10px;
}