.dropzone {
    border: 1px dotted var(--main-color);
    color: var(--main-color);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin: 15px 0;
}

.preview-image {
    width: 140px;
}

.preview-image img {
    width: 100%;
    height: 100%;
}