.convert-button{
    background-color: var(--main-color);
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 40px;
    border: none;
    display: inline-block;
}

.convert-button:disabled,
.convert-button[disabled]{
    background-color: rgba(163, 100, 108, 0.4);
}